.photoimg {

  float: left;
  border:1px solid #BEBEBE;



    figure {
        width: 400px;
        height: 266px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background: #333;

        &:after{
          position: absolute;
    background: #fff;
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    left: 5%;
    top: 50%;
    transform: scale(0);
    transition: all .4s ease-out;
        }

        &:hover{

          &:after{
            transform: scale(1);
          }

          figcaption{

            p,h3{
              opacity: 1;
    transform: translateY(0);
            }

          }

          img{
            opacity: .2;
    transform: scale(1.2);
          }


        }

        img{
          transition: all .7s ease-out;
          opacity: .4;
        }
    }

    figcaption{
      p,h3{
        position: absolute;
   text-align: center;
   width: 100%;
   opacity: 0;
   color: #fff;
   transition: all .4s ease-out .4s;
      }

      h3{
        bottom: 51%;
    transform: translateY(-30px);
      }

      p{
        top: 52%;
    transform: translateY(30px);
      }

    }

}
