section {
  width: 100%;
  padding: 60px 0 0;
}

.aboutinner {

  position: relative;
  max-width: 1600px;
  min-width: 1200px;
  @include center();
  padding-top: 0px;


  .top_aboutimg{
    width: 100%;
    left: 0px;
    z-index: -1;

    img{
      width: 100%;
    }
  }


  .top_aboutinner2{
    margin-top: -50px;
    width: 100%;
    height: 530px;
  }


  .top_aboutinnerwidth{
    width: $base_wrap - 80;
    @include center();
    z-index: 0;
    position: relative;

    .top_aboutimg2{
      position: absolute;
      top: 0;
      right: 50px;
    }

    .top_aboutcontents{
      position: absolute;
      top: 100px;
      width:730px;
    }
  }







  .top_aboutcontents{

    .btn_more{
      position: absolute;
      right: 0px;
      margin-top: 40px;
    }
  }

}

.top_about{
  padding-top: 0px;

  .top_bg-gray{
    bottom: 0;
    height: 95px;
  }
}


.top_service{

  .top_bg-gray {
    top: 0px;
    height: 350px;
  }

  .top_txtbox{
    min-width: 1100px;
    max-width: 1600px;
    text-align: left;
    @include center();
    position: relative;

    .top_serviceimg {
      z-index: -1;
      left: 0px;
      @include widtnPercent(1024,780);

      img{
        width: 100%;
        height: auto;
      }
    }

    .top_servicebox {
      background: #fff;
      padding: 30px 40px 80px;
      position: absolute;
      right: 30px;
      top: 90px;
      width: 540px;
      box-shadow: 0px 2px 1px 0px #EBEBEB;
    }
    .top_btn{
      bottom: -30px;
      position: absolute;
      right: 60px;
      z-index: 0;
    }
  }
}
.top_works{
  padding-top: 80px;
  .top_txtbox {
    margin-top: 20px;
    width: 1206px;
    @include cf();
    @include center();
  }

}

.top_headline{
  position: relative;
  display: inline-block;
  text-align: center;
  color: $titlecolor;
  @include fts(20);
  font-weight: bold;

  &:before,&:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    border-bottom: 4px solid $basecolor;
  }
}
h4{
  /*margin-top: 50px;*/
  @include fts(22,42);
  letter-spacing: 0.21em;
  font-weight: bold;
  margin-bottom: 15px;
}
