@charset "utf-8";

//変数定義
$base_wrap: 1280px;
$top_wrap:1024px;
$under_wrap: 1024px;

//デバイスブレイクポイント
$sm-device-width: 480px;
// $md-device-width: 750px;
$md-device-width: 768px;
$lg-device-width: 1000px;
$xl-device-width: 1280px;

/*ベースカラー*/
$basecolor:#00b2c7;
$secondcolor:#f2f4f5;

/*ボタン*/
$btcolor:#00A9BB;
$bthovercolor:#FFA819;

/*ボーダー*/
$bordercolor:#E9E9E9;


/*フォントカラー*/
$txtxcolor:#303030;
$ptxtcolor:#4A4A4A;
$link_txt:#C2C2C2;

$titlecolor:#333;


/*下層見出し*/
